
<div style="width:80%; margin:auto; margin-bottom:60px;">
<p class="page-heads" style="">Join the Festivities with the <br>IAAPA 100th Anniversary Celebration Toolkit</p>
</div>

<div style="width:80%; max-width:1200px; margin:auto; margin-bottom:100px;">
  <p style="text-align:center; font-weight:lighter; font-size:18px; color:black; margin-top:0px; color:#696969;">
    A century of supporting and growing with the attractions industry has paid off—the business of fun is bigger than ever, and it’s because of members like you. We’re so proud of reaching this milestone, and we’d like you to celebrate with us! That’s why we’ve created toolkit of anniversary-themed promotional materials that you can use between now and the end of the year.
    <ul style="width:25%; font-weight:bold; margin:auto; margin-bottom:30px;">
      <li>Social Media Messages and Images</li>
      <li>IAAPA Member Anniversary logo</li>
      <li>Website Banners</li>
    </ul>
  </p>

  <h4 style="font-size:25px; width:50%; margin-top:50px; margin:auto;"><a style="color:#b09b66;" href="http://www.iaapa.org/docs/default-source/iaapa-100-year-tool-kit/iaapa_100th_anniversary_toolkitv2.zip?sfvrsn=2" download>Download the toolkit and join the celebration!</a></h4>
</div>
